<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item">
        <%= link_to 'プロフィールを編集', edit_member_registration_path, class: 'sidebar-link active' %>
      </li>
    </ul>
    <br>

    <%= link_to '自分のプロフィールを見る', member_path(current_member.id), class: 'btn btn-default wide' %>
  </div>

  <div class="col-md-7 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">マイプロフィール(生徒)</div>
        <div class="panel-body">
          <div class="container">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render 'shared/devise_errors' %>



            <div class="form-group">
              <%= f.text_field :fullname, autofocus: true, class: "form-control", placeholder: "名前" %>
            </div>

            <div class="form-group">
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <span class="btn btn-default btn-file">
                   画像をアップ
                    <%= f.file_field :avatar %>
                  </span>
                </div>
              </div>  
            </div>

            <div class="form-group">
              <%= f.text_field :company_name, class: "form-control", placeholder: "所属" %>
            </div>

            <div class="form-group">
              <%= f.text_area :profile, rows:5, col:25, class: "form-control", placeholder: "自己紹介" %>
            </div>
            
            <a>プロフィールを変更したい場合には、下枠に現在のパスワードを入力して更新してください。</a>
            <div class="form-group">
              <br />
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
            </div>

            <a>パスワードを変更したい場合には、下枠に新しいパスワードを入力してください。</a>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "再確認用" %>
            </div>

            <div class="actions">
              <%= f.submit "更新する", class: "btn btn-primary" %>
            </div>

            <% end %>
          </div>
        </div>
      </div>

  </div>
</div>