<%= render 'layouts/navigation' %>

<header class="profile-hd-image">
  <div class="profile-headline">
    <h2>講師Profile</h2>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag avatar_url(@instructor), class: "avatar-full" %>
      <div class="panel panel-default">
        <div class="panel-heading">登録情報</div>        
        <div class="panel-body">
          所属: <%= @instructor.company_name %><br>
        </div>
      </div>
      

    </div>

    <div class="col-md-9">
      <h2><%= @instructor.fullname %> さんのプロフィール</h2>
      <div class="description row-space-3">
        <%= @instructor.profile %>
      </div>

      <% @courses.order("id DESC").each do |course| %>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading preview">
              <%= image_tag thumbnail1_url(course) %>
            </div>
            <div class="panel-body">
              メモ：リンクでコースショーへ
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>



    </div>
  </div>
</div>
