<%= render 'layouts/dashboardheader' %>

<%= render 'shared/instructor_sidebar' %>

<div class="fullcontainer"><br>
  <div class="row">
    <div class="col-md-10 text-center">
      <div class="panel panel-default">
        <div class="panel-heading">セクション情報の編集</div>
          <div class="panel-body">
            <div class="container">
      <%= form_for(@section, url: polymorphic_path([@course, @section])) do |f| %>
      <%= render 'shared/errors' %>
      
        <div class="row">
          <div class="form-group text-left">
            <label>このセクションは、<%= @course.title %>のタスクです。</label>
          </div>
        </div>
        
        <div class="row">
          <div class="form-group">
            <p class="text-left">セクション名</p>
            <%= f.text_field :title, placeholder: "セクション名", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <p class="text-left">セクション内容：講義内容</p>
              <%= f.text_area :content, rows:4, placeholder: "セクション内容を記載してください。",
                class: "form-control" %>
          </div>
        </div>
        
        <div class="row">
          <div class="form-group">
            <p class="text-left">並び順</p>
              <%= f.number_field :number, placeholder: "数字",
                class: "form-control" %>
          </div>
        </div>
        
        <div class="row">
          <div class="form-group text-left">
            <%= f.check_box :header %> ヘッダーですか？
          </div>
        </div>

        <div class="actions">
          <%= f.submit "情報を登録する", class: "btn btn-primary"%>
          <% if controller.action_name == 'edit' && Rails.env.development? %>
            <br /><br /><br />
            <%= link_to "削除します。", course_path(@course), method: :delete, data: {confirm: "削除しますか？"} %>
          <% end %> 
        </div>
      <% end %>

    </div>
  </div>
</div></div>



</div></div>
