<%= render 'layouts/dashboardheader' %>

<%= render 'shared/instructor_sidebar' %>

<div class="fullcontainer"><br>
  <div class="row">
    <div class="col-md-10 text-center">
      <div class="panel panel-default">
        <div class="panel-heading">プロフィール</div>
          <div class="panel-body">
            <div class="container">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render 'shared/devise_errors' %>

              <div class="form-group">
                <p class="text-left">講師名</p>
                <%= f.text_field :fullname, autofocus: true, class: "form-control", placeholder: "名前" %>
              </div>

              <div class="form-group">
                <p class="text-left">メールアドレス</p>
                <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
              </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <span class="btn btn-default btn-file">
                   アバター画像をアップ
                    <%= f.file_field :avatar %>
                  </span>
                </div>
              </div>  
            </div>

            <div class="form-group">
              <p class="text-left">所属（会社名など）</p>
              <%= f.text_field :company_name, class: "form-control", placeholder: "所属" %>
            </div>

            <div class="form-group">
              <p class="text-left">プロフィール</p>
              <%= f.text_area :profile, rows:5, col:25, class: "form-control", placeholder: "自己紹介" %>
            </div>
            
            <a>個人情報を変更した場合には、下枠に現在のパスワードを入力して更新ボタンを押してください。</a>
            <div class="form-group">
              <br />
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
            </div>

            <a>パスワードを変更したい場合には、下枠（２つ）に新しいパスワードを入力してください。</a>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "再確認用" %>
            </div>

            <div class="actions">
              <%= f.submit "更新する", class: "btn btn-primary" %>
            </div>

            <% end %>
          </div>
        </div>
      </div>

  </div>
  </div>  </div>