<%= render 'layouts/dashboardheader' %>

<%= render 'shared/instructor_sidebar' %>

<div class="fullcontainer"><br>
  <div class="row">
    <div class="col-md-10 text-center">
      <div class="panel panel-default">
        <div class="panel-heading">コース情報の編集</div>
          <div class="panel-body">
            <div class="container">
      <%= form_for @course, html: {multipart: true} do |f| %>
      <%= render 'shared/errors' %>

        <div class="row">
          <div class="form-group">
            <p class="text-left">コース名</p>
            <%= f.text_field :title, placeholder: "コース名", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <p class="text-left">コース概要</p>
              <%= f.text_area :abstract, rows:4, placeholder: "コースの概要を記載してください。",
                class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <span class="btn btn-default btn-file">
                <i class = "fa fa-cloud-upload fa-lg"></i> 画像アップロード
                <%= f.file_field :thumbnail %>
              </span>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="form-group">
            <p class="text-left">コース価格</p>
              <%= f.number_field :price, placeholder: "コース価格（円）",
                class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group text-left">
            <%= f.check_box :active %> コースを公開状態にしますか？
          </div>
        </div>

        <div class="actions">
          <%= f.submit "情報を登録する", class: "btn btn-primary"%>
          <% if controller.action_name == 'edit' && Rails.env.development? %>
            <br /><br /><br />
            <%= link_to "削除します。", course_path(@course), method: :delete, data: {confirm: "削除しますか？"} %>
          <% end %> 
        </div>
      <% end %>

    </div>
  </div>
</div>
</div></div></div>