<!--  コースタイトル　-->
<header class="course-hd-image">
  <div class="course-headline">
    <h2><%= @course.title %></h2>
  </div>
  
  <div class="heading_info">
    <ul>
      <li>
        <div class="author" itemprop="creator">
          <span class="avatar">
            <%= image_tag @course.instructor.avatar, class:"img-circle avatar-medium" %>
          </span>
          
          <div class="info">
            <label>Teacher</label>
            <span><%= link_to @course.instructor.fullname, instructor_path(@course.instructor.id) %></span>
          </div>
        </div>
      </li>
      
      <li>
        <label>Students</label>
        654 (人の生徒が受講)
      </li>
      
      <li>
        <label>Review</label>
        <div class="course-rate">
          <div class="review-stars-rated">
            <p class="review-number"> (0 Reviews) </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</header>

<div class="container">




<div class="row">
  <!-- コース左欄 -->
  <div class="col-md-3">
    <div class="pricingTable">
      <div class="pricingTable-header">
        <h4>Standard</h4>
        <span>Lorem ipsum dolor sit</span>
        <span class="price-value">$<span>10</span></span>
      </div>
      <div class="pricingContent">
        <ul>
          <li><b>講師：</b> <%= @course.instructor.fullname %></li>
          <li><b>50</b> Email Accounts</li>
          <li><b>50GB</b> Monthly Bandwidth</li>
          <li><b>10</b> subdomains</li>
          <li><b>50</b> Domains</li>
        </ul>
      </div>
      
      <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
        <a href="#" class="btn btn-block btn-default">sign up</a>
      </div><!-- BUTTON BOX-->
    </div>
  </div>
  
    <!-- コース右欄 -->
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <h1>コース概要</h1><hr>
    <%= markdown(@course.abstract) %>
    <hr>

    
      <% @sections.each do |section| %>
        <% if section.header %>
          <div class="collection-item active">
            <i class="mdi-social-school"> <%= section.title %></i>
          </div>
        <% else %>
          <%= link_to [section.course, section], class: "collection-item" do %>
            <%= section.title %>
          <% end %>
        <% end %>
      <% end %>


  </div>
  



  
  
  
</div>

  
</div>