<%= render 'layouts/navigation' %>

<!--  コースタイトル　-->
<header class="course-hd-image">
  <div class="course-headline">
    <h2><%= @course.title %></h2>
  </div>
  
  <div class="heading_info">
    <ul>
      <li>
        <div class="author" itemprop="creator">
          <span class="avatar">
            <%= image_tag @course.instructor.avatar, class:"img-circle avatar-medium" %>
          </span>
          
          <div class="info">
            <label>Teacher</label>
            <span><%= link_to @course.instructor.fullname, instructor_path(@course.instructor.id) %></span>
          </div>
        </div>
      </li>
      
      <li>
        <label>Students</label>
        654 (人の生徒が受講)
      </li>
      
      <li>
        <label>Review</label>
        <div class="course-rate">
          <div class="review-stars-rated">
            <p class="review-number"> (0 Reviews) </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</header>

<div class="container">
  <div class="row">
  <!-- コース左欄 -->
    <div class="col-md-9">
      <%= image_tag @course.thumbnail, class: "course_image" %>
      <h3>コース概要</h3><hr>
      <%= markdown(@course.abstract) %>
      <hr>
      
      <h3>カリキュラム</h3><hr>
      <div class="list-group" data-no-turbolink>
				<% @sections.order(:number).each do |section| %>
					<% if section.header %>
						<div class="list-group-item active">
							<i class="mdi-social-school"> <%= section.title %></i>
						</div>
					<% else %>
						<div class="list-group-item">
						  <%= section.title %>
						</div>
					<% end %>
				<% end %>
      </div>
      
    </div>

  <!-- コース右欄 -->
    <div id="sing-button-sidebar" class="col-md-3 col-sm-12 sticky-sidebar">
      <div class="single-button">
        <div class="price-box">
          <span class="course-price"><%= @course.price %>円</span> 
        </div>
        
        <div class="button-box">
<form name="purchase-course" class="purchase-course" method="post" enctype="multipart/form-data">
<input name="purchase-course" value="137" type="hidden">
<button id="learn_press_take_course" class="btn btn-primary purchase-button">
Buy this course </button>
</form>
<div class="includes-box">
<h3>Includes</h3>
<ul>
<li><i class="fa fa-pagelines"></i> Full lifetime access</li>
<li><i class="fa fa-language"></i> Language: 日本語</li>
</ul>
</div>
</div>
</div>

    </div>

  </div>
</div>
